.selected{
    box-shadow:9px 11px 28px -12px #080808;
}

.navbar-default {
    background-color: #220D4A;
    border-color: #080808;
    color: #9E7E7E;
}

#show_progress{ background: #d9e3eb url(images/linen-dark-blue.jpg) center top repeat fixed;}

.wrapper{ 
	background: #d9e3eb url(images/linen-dark-blue.jpg) center top repeat fixed;
 	overflow-y: auto;
}

#base{
  padding:10px;
  background:#eee;
}

textarea:focus {
   background-color: #ffa !important;
}

#mygrid-wrapper-div {
    height: 100%;
}



@media screen and (min-width: 768px) {
	#myModalPDF .modal-dialog  {width:1150px;}

}

