@font-face {
    font-family: HelveticaNeue;
    src: url('../fonts/HelveticaNeue.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'HelveticaNeue';
    }
.login {
	margin: 0;
    width: 415px;
    max-width: 90%;
    background: #ffffff;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.28);
    position: fixed;
    right: 0;
    height: 100%;
    top: 0;
    bottom: 0;
	overflow-x: scroll;
}
.bg {
	background: url(img/24x7-support-service.jpg) -200px fixed;
	background-size: cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	}
	

.wrapper-lg {
    padding: 50px;
    position: absolute;
    top: 2%;
    left: 0;
    right: 0;
}
.login-info {
	padding: 60px 12px;
}
.login-info ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #3f5364;
}
.login-info ::-moz-placeholder { /* Firefox 19+ */
  color: #3f5364;
}
.login-info :-ms-input-placeholder { /* IE 10+ */
  color: #3f5364;
}
.login-info :-moz-placeholder { /* Firefox 18- */
  color: #3f5364;
}

.login-info h4{display:block;color:#4778BD;border-bottom:2px solid #4778BD;line-height:1.68;font-weight:bold;}
.l-footer {
	    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
	text-align: center;
	}
.login-info i.fa.fa-eye {
    position: relative;
    top: 40px;
    background: #EBEBEB;
    overflow: hidden;
    z-index: 1;
    background: #EBEBEB;
}
.wrapper-lg .form-control {
	    border-radius: 0;
     background-color: transparent;
    border-bottom: 1px solid #2a7de2;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.login-info .has-feedbackA input {
    color: #2a7de2;
    font-size: 21px;
    height: 41px;
}
.mar{margin-top:40px;}

.input-group-addon {
	border-radius: 10px;
	background-color: #e5e5e5;
	
}
.wrapper-lg .form-group {
	/*margin-bottom: 20px;*/
}
.wrapper-lg .input-group {
	/*margin-bottom: 20px;*/
	width: 100%;
}
.form-control-feedback {
	left: 0;
	/* top: 15%; */
	height: 50px;
	/* width: 50px; */
	vertical-align: middle;
	padding: 8px 0;
}
.has-feedback select, .has-feedback input {
	background-color: #e5e5e5;
	width: 100%;
	height: 100%;
	padding: 10px 15px;
	box-shadow: none;
	border: 1px solid #d0d0d0;
	border-radius: 10px;
}
.has-feedback .form-control, .has-feedback select {
	padding-right: 10px;
	padding-left:0;
}
.login-info label {
    color: #ABA6A6;
    font-weight: normal;
}
.login-info .has-feedback input {
	/*height: 35px;*/
    color: #3f5364;
    font-size: 18px;
	}
	.login-info .has-feedback input:focus{
		box-shadow: none;
		}
.login-info a {
	font-size: 18px;
    color: #fff;
    max-width: 100%;
    width: 100%;}
.btn-flat {
    background: #707070;
    color: #fff;
    height: 50px;
}

.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #428bca;
    border-color: #428bca;
}
.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox-info input[type="checkbox"]:checked + label::after {
    color: #fff;
}
.checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c";
}
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #FFF;
}
.checkbox.checkbox-primary {
    margin-left: 20px;
}
.user-pass {
      text-align: center;
    border-top: 1px solid #d4d4dd;
    margin: 10px 0;
    padding: 10px 0;
}
.login-info .user-pass a {
	color: #3f5364;
	text-decoration: none;
	font-size: 14px;
	text-align:center;}
	 
@media (max-width: 767px){
.login {
    left: 0;
    margin: 0 auto;
}
.wrapper-lg, .l-footer{
	position: initial;}
}

@media (max-width: 480px){

.login {
    left: 0;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
}
}

.myBtn{border-radius:0;}

/* End Login*/