<?xml version="1.0" encoding="UTF-8"?>
 
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    id="WebApp_ID" version="2.5">
     
  <display-name>Archetype Created Web Application</display-name>
    <welcome-file-list>
        <welcome-file>/login</welcome-file>
    </welcome-file-list>
     
    <!-- spring security --> 
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
 
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <!-- spring mapping -->
    <servlet>
        <servlet-name>spring</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>spring</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
        	 /WEB-INF/spring-servlet.xml
            /WEB-INF/application-security.xml
        </param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
  
  	<listener>
		<description>sessionListener</description> 
		<listener-class>com.myexample.service.ApplicationSessionListener</listener-class>
	</listener>
    <session-config>
		<session-timeout>5</session-timeout>
	</session-config>
	
    <!-- rest jersey -->
  	<servlet>
		<servlet-name>RestJerseyFileUpload</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>com.myexample</param-value>
		</init-param>
		<init-param>
			<param-name>jersey.config.server.provider.classnames</param-name>
			<param-value>org.glassfish.jersey.media.multipart.MultiPartFeature</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>RestJerseyFileUpload</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
  
  
    
	<error-page>
	    <!-- Missing login -->
	    <error-code>401</error-code>
	    <location>/general-error</location>
	</error-page>
	<error-page>
	    <!-- Forbidden directory listing -->
	    <error-code>403</error-code>
	    <location>/general-error</location>
	</error-page>
	<error-page>
	    <!-- Missing resource -->
	    <error-code>404</error-code>
	    <location>/general-error</location>
	</error-page>
	<error-page>
	    <!-- Uncaught exception -->
	    <error-code>500</error-code>
	    <location>/general-error</location>
	</error-page>
	<error-page>
	    <!-- Unsupported servlet method -->
	    <error-code>503</error-code>
	    <location>/general-error</location>
	</error-page>
    
</web-app>